.back {
  width: 200px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 3px solid #F79421;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  color: black;
  justify-content: center;
  display: flex;
  align-items: center;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 5px;
}

ul {
  margin-top: 10px;
  text-align: left;
}

h1 {
  margin-bottom: 15px;
}

.back:hover {
  background-color: #f1f1f1;
  color: black;
}

.wrapper {
  border-top: 10px solid #F79421;
  text-align: center;
}