* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

html {
    height: 100%;
}

body {
    background-color: #333333;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-top: 10px;
}

button {
    width: 200px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}