* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

body {
    background-color: #333333;
}
 
label {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-top: 10px;
}

.form-control {
    height: 40px;
    border: none;
    border-bottom: 2px solid #F79421;
    width: 200px;
    outline: none;
}

#loginTitle {
    margin-bottom: 20px;
}

.wrapper {
    border-top: 10px #F79421 solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 422px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px 20px 20px 20px;
    max-width: 450px;
    min-width: 350px;
}

.form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.introText {
    font-family: 'Open Sans', sans-serif;
}

button {
    width: 200px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #F79421;
    border: 0;
    font-size: 15px;
}

button:hover {
    background-color: rgb(221, 138, 43)
}

a {
    text-decoration: none;
    color: #F79421;
    font-weight: 550;
}