* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #333;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: white;
}
input {
  width: calc(100% - 40px);
  height: 40px;
  border: 1px solid #2bbbe9;
  padding: 7px;
  font-size: 16px;
  background-color: white;
  max-width: 720px;
}
label {
  font-size: 18px;
  color: white;
  margin-top: 10px;
}
button {
  cursor: pointer;
  height: 40px;
  width: 140px;
  font-size: 18px;
  border: none;
}
.edit-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-top: 10px solid #2bbbe9;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 720px;
  margin-top: 30px;
}
.submit-button {
  background-color: #2bbbe9;
  width: 50%;
}
.cancel-button {
  background-color: #f79421;
  width: 50%;
}